<!DOCTYPE html>
<html>
  <head>
    <title>Tacostagram Final</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>

  <body>
    <% flash.each do |type, message| %>
      <div class="flash <%= type %>"><%= message %></div>
    <% end %>

    <div>
      <a href="/">Home</a>
      <% if @current_user %>
        <span>Logged in as <strong><%= @current_user.username %></strong></span>
        <a href="/logout">Logout</a>
      <% else %>
        <a href="/login">Login</a>
        <a href="<%= signup_path %>">Signup</a>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>


